.remote-cursor::before {
    content: "";
    display: inline-block;
    border-left: 2px solid;
    height: 1.2em;
    margin-left: -1px;
}

.remote-cursor-0::before {
    border-color: #ff4d4f;
}

.remote-cursor-1::before {
    border-color: #52c41a;
}

.remote-cursor-2::before {
    border-color: #1890ff;
}

.remote-cursor-3::before {
    border-color: #fa8c16;
}

.remote-cursor-4::before {
    border-color: #722ed1;
}

.remote-cursor-5::before {
    border-color: #13c2c2;
}

.remote-cursor-6::before {
    border-color: #eb2f96;
}

.remote-cursor-7::before {
    border-color: #fadb14;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
